snippet class "class"
public class $1 {
	public $1 ($2) {
	}
}
endsnippet

snippet pst "pst"
public static $1 $2($3) {
}
endsnippet

snippet print "print"
System.out.println($1);
endsnippet

snippet main "main"
public static void main(String args[]) {
	$2
}
endsnippet

snippet try "trycatch"
try {
	$1
} catch(Exception e){
	System.err.println(e);
}
endsnippet
