snippet math "math"
\documentclass{article}
\title{$1}

\begin{document}
  \pagenumbering{gobble}
  \maketitle
  \newpage
  \pagenumbering{arabic}
  $2
\end{document}
endsnippet

snippet isum "isum"
$\sum_{$1}^$2 {$3}$
endsnippet

snippet sum "sum"
\[\sum_{$1}^$2 {$3} \]
endsnippet
