* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(35, 40, 51, 1);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#pulseaudio {
    border-radius: 20 0 0 20px;
}

#custom-clock {
    border-radius: 0 20 20 0px;
}

#custom-clock,
#battery,
#cpu,
#memory,
#disk,
#custom-temperature,
#backlight,
#network,
#language,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    background-color: #1a1e26;
    padding: 0 10px;
    margin: 2 2px;
    color: #ffffff;
    border-radius: 20 20 20 20px;
    font-weight: 900;
    font-size: 16px;
}

/*
 * #ff0000
 * #ff7f00
 * #ffff00
 * #30c731
 * #00bc3f
 * #0068ff
 * #00acee
 * #7a00e5
 */

#pulseaudio {
    color: #fff; /* color: #00acee; */
}

#network {
    color: #fff;
}

#cpu {
    color: #fff; /* color: #00acee; */
}

#memory {
    color: #fff;
}

#custom-temperature {
    color: #fff; /* color: #00acee; */
}

#custom-clock {
    color: #fff;
    margin-right: 10px;
}

#sway-window {
    background-color: #000;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

